[submodule "external/tui"]
	path = external/tui
	url = https://github.com/Docheinstein/tui
	branch = master
[submodule "external/args"]
	path = external/args
	url = https://github.com/Docheinstein/args
	branch = master
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL/
	branch = main
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/pnggroup/libpng
	branch = master
